<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
	    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd">

    <mvc:annotation-driven/>
    <aop:aspectj-autoproxy/>
    <context:component-scan base-package="ru.ivan.linkss.*" />

    <context:property-placeholder location="file:///#{systemEnvironment['LINKSS_PROPERTIES_FILE']}"
                                  ignore-unresolvable="true" />

    <!--<context:property-placeholder location="file:///C:\Servers\app_props\linkss.properties"-->
                                  <!--ignore-unresolvable="true"/>-->


    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtps.auth">${google.mail.smtps.auth}</prop>
            </props>
        </property>
        <property name="host" value="${google.mail.host}" />
        <property name="port" value="${google.mail.port}" />
        <property name="username" value="${google.mail.username}" />
        <property name="password" value="${google.mail.password}" />
        <property name="protocol" value="${google.mail.protocol}" />
    </bean>


    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/view/" />
        <property name="suffix" value=".jsp" />
    </bean>


</beans>